CompileFlags:
  Remove: 
    - -mpreferred-stack-boundary=*
    - -fno-unit-at-a-time
    - -falign-jumps=*
    - -falign-loops=*
    - -fomit-frame-pointer
    - -nostdinc
    - -iwithprefix*
  Add: 
    - -fms-extensions
    - --target=i386-pc-linux-gnu
    - -I/home/zengxu/Projects/kernel-source-2.6.8/include
    - -I/home/zengxu/Projects/kernel-source-2.6.8/include/asm-i386/mach-default
